<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/nlog-internal-log.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="allfile" fileName="${basedir}/logs/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="errorFile" fileName="${basedir}/logs/nlog-error-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="Console" name="console"
            layout="${uppercase:${level}} ${logger} - ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console" />

    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Trace" writeTo="allfile" />
    
    <logger name="*" minlevel="Error" writeTo="errorFile" />
    
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>